.gt3Text {
  font-size: 150px;
  font-weight: 400;
  color: #122548;
  text-shadow:
    0px 0px 2px rgba(0,0,0,0.5),
    -1px -1px 1px #fff2ce,
    -2px -2px 1px #d4af37,
    2px 2px 1px #a88743,
    3px 3px 2px #5e461c,
    6px 6px 12px rgba(0, 0, 0, 0.4);
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
}
