.menu{
    font-size: 25px;
    cursor: pointer;
    color: #0071CE;
    margin-top: 25px;
    margin-left:0.5;
}

.sticky-left-navigation{
    z-index:2;
    width: 80px;
    /* height: 709px; */
    height: 100vh;
    flex-shrink: 0;
    background-color: #091e8f;
    color: #fff;
    display: inline-block;
}

.sticky-left-navigation > ul{
    list-style: none;
    font-size: 25px;
    margin-left:14px;
    display: block;
    padding-left:0px;
}

.nav-icon{
    border-radius: 60px;
    background: rgba(1, 1, 1, 0.11);
    padding: 10px;
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
    margin-bottom:1em;
    cursor: pointer;
    transition: transform 0.9s ease-out ;
}
.nav-icon:hover{
 transform: scale(1.2);
}

.actiive{
    border-radius: 60px;
    border: 1px solid #FFF;
    background: rgba(0, 0, 0, 0.11);
}


.navigation-panel{
    z-index:-1;
    border-radius: 0px 40px 0px 0px;
    padding: 0px 40px 0px 10px;
    background: #0072CE;
    box-shadow: 2px 0px 2px 0px rgba(0, 0, 0, 0.25);
    width: 20px;
    min-height: 1000px;
    flex-shrink: 0;
    border-radius: 0px 40px 0px 0px;
    display: inline-block;
    /* min-height: 100vh !important; */
    height: 100vh !important;
    transition: transform 0.5s ease-in-out;
}

.navigation-panel.collapse{
    transform: translateX(-600px)
}

.navigation-panel-header{
    margin-top:25px;
    color: #FFF;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    margin-left:1em;
}


hr{
    width:290px;
    opacity: 0.20000000298023224;
}

.group-action-buttons{
    display:flex;
} 

.action-button{
    display: flex;
    width: 130px;
    height: 27px;
    padding: 15px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border: 1px solid #FFF;
    background: #0476D2;
    color: #fff;
    margin-left:1.5em;
}

.navigation-panel-list-items {
    padding-left:0px !important;
  }

.sticky-left-navigation-items{
    padding-left:0px !important;
}

.list-item{
    /* display: inline-flex; */
    align-items: center;
    gap: 15px;
    list-style-type: none;
    position: relative;
    padding-top: 12px;
    padding-bottom: 14px;
    color: #fff;
    padding-left:1em;
    /* opacity: 0.8; */
    transition: 0.5s;
}

.rotated {
    transform: rotate(90deg);
  }
  
ul{
    padding-left:0;
}
.tree-group{
    padding-left:1em;
}

.list-item:hover {
    background-color:#091e8f;
    width: 100%;
    margin-left: 0;
    color: white;
    cursor: pointer;
    opacity:1
}

.active{
    width: 100%;
    height: 48px;
    flex-shrink: 0;
    /* background: rgba(87, 170, 236, 0.71); */
    background: blue;
    
  }

  .nav-icon.active {
    border: 1px solid white;
  }
  
  .white-border {
    border: 1px solid white;
  }


  .list-item.active {
    background-color: #091e8f;
}



