:root {
   --pending: #e38b30;
   --warning: #F0BE39;
   --decline: #2c3e50;
   --success: #237F5D;
}

.table-status-container{
    background-color: #f2f3f7;
    display: inline-flex;
    padding: 4px 8px;
    border-radius: 16px;
    color: #343536;
}

div[data-client-class]{
    border-radius: 6px;
    padding: 2px 8px 2px 8px;
    background-color: var(--pending);
    color: #fff;
    width: fit-content;
    margin-right: 7px;
}

div[data-client-class*='Requires Continuance']{
    border-radius: 6px;
    padding: 2px 8px 2px 8px;
    background-color: var(--pending);
    color: #fff;
    width: fit-content;
    margin-right: 7px;
}

div[data-client-class*='In Progress']{
    border-radius: 6px;
    padding: 2px 8px 2px 8px;
    background-color:var(--warning);
    color: #fff;
    width: fit-content;
    margin-right: 7px;
}

div[data-client-class='Declined']{
    border-radius: 6px;
    padding: 2px 8px 2px 8px;
    background-color: var(--decline);
    color: #fff;
    width: fit-content;
    margin-right: 7px;
}
div[data-client-class='Compliant']{
    border-radius: 6px;
    padding: 2px 8px 2px 8px;
    background-color: var(--success);
    color: white;
    width: fit-content;
    margin-right: 7px;
}
div[data-client-class='Not Started']{
    border-radius: 6px;
    padding: 2px 8px 2px 8px;
    background-color: var(--warning);
    color: white;
    width: fit-content;
    margin-right: 7px;
}
div[data-client-class='Completed']{
    border-radius: 6px;
    padding: 2px 8px 2px 8px;
    background-color: var(--success);
    color: white;
    width: fit-content;
    margin-right: 7px;
}
div[data-client-class*='Cancelled']{
    border-radius: 6px;
    padding: 2px 8px 2px 8px;
    background-color: var(--decline);
    color: white;
    width: fit-content;
    margin-right: 7px;
}
div[data-client-class='Resigned']{
    border-radius: 6px;
    padding: 2px 8px 2px 8px;
    background-color: var(--decline);
    color: white;
    width: fit-content;
    margin-right: 7px;
}

div[data-client-class='Not Started']{
    border-radius: 6px;
    padding: 2px 8px 2px 8px;
    background-color: var(--warning);
    color: #fff;
    width: fit-content;
    margin-right: 7px;
}
div[data-client-class='Feedback Requested']{
    border-radius: 6px;
    padding: 2px 8px 2px 8px;
    background-color: var(--pending);
    color: #fff;
    width: fit-content;
    margin-right: 7px;
}
div[data-client-class*='Waiting']{
    border-radius: 6px;
    padding: 2px 8px 2px 8px;
    background-color: var(--warning);
    color: #fff;
    width: fit-content;
    margin-right: 7px;
}

div[data-client-class='Approved']{
    border-radius: 6px;
    padding: 2px 8px 2px 8px;
    background-color: var(--success);
    color: #fff;
    width: fit-content;
    margin-right: 7px;
}

