:root {
    --blue: #0071CE;
    --dark-blue: #091e8f;
    --white: #ffffff;
    --background-light: #f5f5f5;
    --gray:#787878;
    --white: #ffffff;
  }

body, html{
    font-family: Arial, Helvetica, sans-serif !important;
    margin:0;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    /* background-color: #f5f5f5; */
    background-color: var(--background-light);
    padding: 0;
    height: 100%;
}

.sticky-left-navigation{
    position: fixed;
    width: 64px;
    z-index: 2;
    height: 100vh;
    flex-shrink: 0;
    background-color: var(--dark-blue);
    color: #fff;
    display: inline-block;
}

.navigation-panel{
    position:fixed;
    margin-left:43px;
    border-radius: 0px 40px 0px 0px;
    padding: 0px 8px 0px 8px;
    background: #0072CE;
    box-shadow: 2px 0px 2px 0px rgba(0, 0, 0, 0.25);
    width: 335px;
    height: 100vh;
    flex-shrink: 0;
    border-radius: 0px 40px 0px 0px;
    display: inline-block;
    transition: transform 0.2s ease-in;
}

.form-canvas-section{
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-left:10px;
    margin-right:10px;
    /* height:80vh; */
    height: calc( 100vh - 75px );
    overflow-y: scroll;
   
}

.expand-canvas{
    margin-left: 68px;
    transition: width 1s ease-in-out;
}


.page-section{
    width: 100% !important;
    height:fit-content;
}

.qrm-header{
    margin:auto;
    text-align: center;
    font-size: x-large;
    /* color: #787878; */
    color: var(--gray);
    font-weight: normal;
  }
  
.qrm-header-text {
    padding-top:7px;
    flex: 1;
    text-align: center;
    font-size: x-large;
    color: var(--gray);
    font-weight: normal;
    border: none !important;
}
.version-column{
    float: right;
    margin-top: 28px;
    color: var(--dark-blue);
    font-weight:bold
}

.client-reference-id{
    margin-top: 10px;
    /* border: thin solid gray; */
    padding: 5px;
    color:gray;
}
.save-current-section{
    font-size: 28px;
    margin-top: 21px;
    color: var(--dark-blue);
    cursor: pointer;
    margin-right:10px;
}


.page-header{
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    position: fixed;
    width:100%;
    top: 0;
    background-color: var(--white);
    z-index: 3;
}

.header-page-title{
    margin:auto;
}
.header-search-box{
    margin:auto;
}

.header-right-container-container{
    margin-top: 12px;
}

.client-reference-id{   
    margin-right: 10px;
    margin-top: 13px;
}

.client-unique-number{
    color:#555;
    float: right;

}

/* NAVIGATION */

.menu{
    font-size: 25px;
    cursor: pointer;
    color: var(--blue);
    margin-top: 25px;
    margin-left:0.5;
}

/* .menu-icon:hover{
    transform: scale(1.2);
} */
.bulk-upload-icon:hover{
    transform: scale(1.1);
}

.bulk-upload-list li{
    margin-left: 15px;
}

/* .sticky-left-navigation{
    position: fixed;
    width: 65px;
    z-index: 2;
    height: 100vh;
    flex-shrink: 0;
    background-color: var(--dark-blue);
    color: #fff;
    display: inline-block;
} */

.sticky-left-navigation > ul{
    list-style: none;
    font-size: 25px;
    margin-left:8px;
    display: block;
    padding-left:0px;
}

.nav-icon{
    border-radius: 60px;
    background: rgba(1, 1, 1, 0.11);
    padding: 10px;
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
    margin-bottom:1em;
    cursor: pointer;
    transition: transform 0.9s ease-out ;
}

.nav-icon:hover{
 transform: scale(1.2);
}

.actiive{
    border-radius: 60px;
    border: 1px solid #FFF;
    background: rgba(0, 0, 0, 0.11);
}

.top-level-nav-selected{
    border-radius: 60px;
    border: 1px solid #FFF;
}

/* .navigation-panel{
    position:fixed;
    margin-left:65px;
    border-radius: 0px 40px 0px 0px;
    padding: 0px 10px 0px 10px;
    background: #0072CE;
    box-shadow: 2px 0px 2px 0px rgba(0, 0, 0, 0.25);
    width: 365px;
    height: 100vh;
    flex-shrink: 0;
    border-radius: 0px 40px 0px 0px;
    display: inline-block;
    transition: transform 0.2s ease-in;
} */

.navigation-panel.collapse{
    transform: translateX(-600px);
    display: none;
}

.navigation-panel-header{
    margin-top: 20px;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 104%;
    margin-left: 25px;
}

/* .expand-canvas{
    width: 100% !important;
    margin-left: 250px !important;
    margin-right: 150px;
    transition: width 1s ease-in-out;
} */

hr{
    width:290px;
    opacity: 0.20000000298023224;
}

/* .group-action-buttons{
    display:flex;
}  */

.action-button{
    display: flex;
    width: 130px;
    height: 27px;
    padding: 15px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border: 1px solid #FFF;
    background: #0476D2;
    color: #fff;
    margin-left:1.5em;
}

.navigation-panel-list-items {
    padding-left:0px !important;
  }

.sticky-left-navigation-items{
    padding-left:0px !important;
}

.nav-list-items{
    scroll-behavior: smooth;
    overflow-y: auto;
    height: 75vh;
}

/* SCROLLBAR  start*/
::-webkit-scrollbar {
    width: 6px;
  }
::-webkit-scrollbar-track {
    border-radius: 20px;
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: var(--dark-blue);
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
/* SCROLLBAR end*/

.list-item{
    align-items: center;
    gap: 15px;
    list-style-type: none;
    position: relative;
    padding-top: 12px;
    padding-bottom: 14px;
    color: #fff;
    padding-left:1em;
    transition: 0.5s;
    line-height: 1.5;
}
.rotated {
    transform: rotate(90deg);
  }
ul{
    padding-left:0;
}
.tree-group{
    padding-left:12px;
    padding-right:8px;
}

.list-item:not(.nav-item-disabled):hover {
    background-color:#091e8f;
    width: 100%;
    margin-left: 0;
    color: white;
    cursor: pointer;
    opacity:1
}
.active{
    width: 100%;
    height: 48px;
    flex-shrink: 0;
    background: blue;
    
  }

  .nav-icon.active {
    border: 1px solid white;
  }
  
  .white-border {
    border: 1px solid white;
  }


  .list-item.active {
    background-color: #091e8f;
}

/* NAVIGATION */
.main-container{
    height:100% !important;
    background-color: #F5F5F5;
    margin-top:74px;
}
.menu-and-logo{
    margin-left:0.5em;
    display: inline-flex;
    width:30%
}

.ms-Icon{
    cursor: pointer;
}

.menu-and-logo .ms-Icon--CollapseMenu{
    margin-left:12px;
}
.menu-and-logo .ms-Icon--AddNotes{
    margin-left:12px;
}

.col-header-align-center{
    width:39%
}
.logo{
    margin-left:1em;
}

input{
    border: 1px solid #ced4da;
    padding: 8px;
}

.bread-crumb{
    margin-top: 17px;
    margin-left: 43px;
    color: rgba(0, 0, 0, 0.75);
    cursor: pointer;
    font-size: 15px;
}
.currently-open {
    background-color:#091e8f;

}

.hide {
    display: none !important;
    transition:0.3s;
}

.last-item{
    text-decoration:underline;
}

.help-file-heading{
    font-size: 16px;
    padding-bottom: 10px;
    font-weight: bold;
    color: #0072CE !important;
    line-height: 1.5;
}

.field-details{
    line-height: 1.5;
}

/* client name drop down filer box placed inside the navigation panel */
.client-drop-down{
    margin-left: 1.5em;
    width: 100%;
    margin-right: 1.5em;
}


.client-drop-down  .form-row  .field-details   .row-heading {
    color: #fff !important;
    font-weight: 500;
    font-size:18px;
}

.content-pop-up-window-content{
    height:max-content !important;
}

.row-description{
    color: #fff;
    font-size:14px;
}

.mazars-optional-field{
    color:red !important;
}

.content-pop-up-window-content{
    border: none !important;
    /* min-height: 515px !important; */
    min-height: 90vh;
}


.field-component-icon-container{
    padding:9px !important;
}



/* Dashboard + View My Tasks Table Icons */
.table-action-button{
    font-size:20px;
    cursor:pointer;
    vertical-align:text-top;
    padding-right:5px;
}

.table-action-buttons-cell{
    display:flex;
}
/* .table-submission-date-column{
    text-align: center;
} */

.action-header-info{
    display: flex;
    padding: 5px;
    margin: 0 20px;
}
.action-header-info > div {
    padding: 0 5px;
}
.info-header-justify-right{
    display: inline-flex;
    justify-content: end;
    width:30%
}

.table-action-button:hover{
    color: #0071CE; 
}
.table-action-button-delete{
    cursor: pointer;
    font-size:20px;
    cursor:pointer;
    vertical-align:text-top;
    padding-right:5px;
}
.table-action-button-delete:hover{
    color:red;
}

.bd_supporting_documents_table .ms-Icon{
    font-size: 16px !important;
    vertical-align: middle;
}

.select-all-my-tasks{
    box-shadow:none !important;
}

.select-all-my-clients{
    box-shadow:none !important;
}

.select-all-supporting-documents{
    box-shadow:none !important;
}
.supporting-documents-table{
    margin-top:60px;
}
.supporting-document-title{
    text-decoration: underline;
    color:#0071CE !important;
    cursor: pointer;
}

#qrm-supporting-documents-table select{
    padding:6px !important;
}


.page-section-action-field{
    float:right;
    margin-bottom:20px;
    margin-right:10px;
}
.upload-button{
    border-radius: 0px 0px 0px 14px;
    border: 1px solid #081F8F;
    background: #081F8F;
    color: #fff;
    width: 171px;
    height: 38px;
    cursor: pointer;
}
.page-section-header{
    margin-left: 16px;
    margin-top:16px;
    /* color:#0071CE; */
}
.page-title{
    color: #0071CE
}
.page-section-bulk-upload{
    margin-left:20px;
    margin-top:40px;
    float:right;
}
.bulk-upload-container{   
    display: inline-flex;
    align-items: center;
    margin-top:30px;
    gap: 5px;
}
.bulk-upload-icon{
    position: absolute;
    /* font-size: 18px; */
    padding: 11px;
    background-color: #0072ce;
    color: white;
    cursor:pointer;
}
.bulk-upload-list{
    margin-left:80px;
    padding-right:30px;
}

.get-started-button{
    width: 48% !important;
    height: 40px !important;
    margin-left: 25% !important;
    cursor:pointer !important;
    background-color: #FFF;
    color: #0072ce;
    border: thin #0072ce solid;
    font-weight: 700;
    cursor: pointer;
    transition: .5s all;
    margin-top: 20px;
    text-align: center;
}

.get-started-button:hover{
    background-color: var(--blue);
    color: #fff;

}

/* TABLE STATUS MOVED TO A SEPERATE FILE */

.help-file-input-field{
    width:50% !important;
    cursor: pointer;
}

.help-file-container{
    margin-left: 25% !important;
}

.navigation-item-title-group{
    display: inline-flex;
}

.navigation-item-title-group > span{
    margin-left:12px;
}
#additional-component-placeholders{
    margin-top:20px;
}


.get-started-button[data-section-type='Lockdown Landing Page']{
    display: none;
}

/* DASHBOARD */
.table-dashboard{
    border: 0.5px solid #F5F5F5;
    border-radius: 15px 15px 2px 2px;
    background-color: var(--blue) !important;
}

.table-dashboard > thead{
    color: white;
}

.hide{
    display: none;
}

.sort-icon{
    float:right;
}


.even{
    background-color: #f6fafd !important;
}

.field-component .radio-button-component .radio-button-group-container-is-selected{
    background-color: var(--blue) !important;
}

.page-loader-header span{
    vertical-align: top;
    margin-top: 20px;
    position: absolute;
}

.disable{
    cursor: no-drop ;
}

.disable:hover{
    cursor: no-drop ;
    background-color: #555;
}
.tooltip-disabled:hover{
cursor: pointer;
}

.allocation-assigning-team-member .jconfirm-title, .approver-changes-required-confirmation .jconfirm-title{
    margin-left:45px !important
}

.warning{
    color: orange;
}

.nav-item-disabled{
    opacity: 0.7;
    pointer-events: none;
}

.radio-disabled{
    pointer-events: none;
}

.item-disabled{
    pointer-events: none;
    background-color: #f0f0f0;
    color: #999
}

div[sp-field-name="LockdownKey"]{
    margin-top:20px;
}

.table-type-column{
    color:black !important;
}

/* UPDATE FRAMEWORK */
.confirmation-box_content-title{
    padding-left:30px;
}
.jconfirm-type-green{
    border-top: solid 7px var(--blue)!important;
}
.paginate_button:hover{
 background: var(--blue)!important;
}
.paginate_button.current{
    background: var(--blue)!important;
}
input[data-sp-element-name='new-acceptance-action-button']{
    margin-top:65px !important;
}

.disable-interaction{
    pointer-events: none;
}

div[sp-field-name='ClientTaskCode'] .field-component .radio-button-component{
    padding:0px !important;
}

/* update the toast message modal height to fit validation of form fields */
#toast-container>div{
    /* overflow-y: scroll  */
    overflow-y: auto !important;;
    max-height: 700px !important;
    max-width: 800px !important;
}

div[app-name='Lockdown'] div[sp-field-name='TaskCode']{
    min-height: 170px;
}
div[app-name='Lockdown'] div[sp-field-name='TaskCode'] .radio-button-component{
    padding-left:0px;
}

.selected-btn{
    background-color: #0072CE;
    color: white;
    font-weight: 700;
}



.right-help-comments-section-panel{
    min-height: 769px;
    background-color: white;
    border: thin rgb(204, 217, 228) solid;     
    position: fixed;
    right: 0;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
    /* height: 65vh; */
   
}
.right-help-comments-content{
    width:102%;
}

.right-help-comments-content ul{
    padding: 10px;
    list-style: none;
    text-align: center;
    margin: 0px;
    overflow-y: scroll;
    height: 78vh;
}

.right-help-comments-content ul li{
    cursor: pointer;
}

.right-help-comment-tabs-container ul{
    padding: 0px;
    list-style: none;
    text-align: center; 
    margin: 0px;
    display: flex;
    /* margin-top:12px; */
}

.right-help-comment-tabs-container li {
    width: 100%;
    padding: 15px;
    cursor: pointer;
    border: thin rgb(243, 243, 243) solid;
    font-size: 14px;  
    margin: 0;
}
.has-warnings{ 
    color: #990909
}

.audit-log-item{
    text-align: left;
    padding: 5px;
    font-size: 15px;
}

.audit-log-item .title{
    padding: 2px 0;
    color: #0072ce;
}
.audit-log-item .description{

}
.audit-log-item .notification-type{

}
.audit-log-item .author{
    color: gray;
    padding: 4px 0;
    font-style: italic;
    text-align: right;
    margin-right: 20px;
    margin-top: 10px;
}

.warning-item{
    text-align: left;
    padding: 5px;
    font-size: 15px;
}

.warnings-section{
    font-size: 28px;
    margin-top: 21px;
    color: lightgray;
    cursor: pointer;
    margin-right:10px; 
}


.right-help-comments-content .comments-item{
    cursor: pointer;
    
}

.right-help-comments-content > li{
    list-style: none;
    margin: 8px;
    border-bottom: thin rgb(213, 212, 212) solid;
    padding: 5px;
    font-size: 14px;
}

.comment-meta{   
    color: gray;
    padding: 4px 0;
    font-style: italic;
    text-align: right;
    margin-right:20px;
    margin-top:10px;
}

.ms-Icon--CommentActive{
    color: #44ce00;
}

.right-help-comments-content .comment-person{
    display: inline-block;    
}
.right-help-comments-content .comment-date{
    display: inline-block;
}

.comments-field-name{
    padding: 2px 0;
    color: #0072ce;
}

.ms-Icon--CommentActive:hover{
    cursor: pointer;
}
.ms-Icon--Comment:hover{
    cursor: pointer;
}
.ms-Icon--CommentAdd:hover{
    cursor: pointer;
}

div .field-component-comment-icon-container{
    position: relative;
    top: -3px
}

.col-3-5{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 28%;
    flex: 0 0 28%;
    max-width: 28%;
    position: relative;
    width: 100%;
    min-height: 1px;   
    /* height:65vh; */
    /* height: calc( 100vh - 75px ); */
}

.content-pop-up-window-content .half-width {   
    min-width: 400px !important;
}



@media only screen and (min-width: 1500px){

    .col-3-5{
        -webkit-box-flex: 0;
        -ms-flex: 0 0 29%;
        flex: 0 0 29%;
        max-width: 29%;
        /* height:65vh; */
        /* height: calc( 100vh - 75px ); */
    }
}

/* .right-help-comment-tabs-container{
    height:65vh
} */

.select2-container--default.select2-container--disabled .select2-selection--multiple, .select2-container--disabled{
    background-color: white !important;
}


.clp-survey-results-container .field-component .radio-button-component{
    height: auto !important;
}
